body {
    background-color: #f9f9f9;
font-style: normal;
font-family: serif;
/* font-size: 18px; */
  padding: 0;
  margin: 40px;
  display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-wrap: wrap;
}

canvas{
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   padding: 0;
   margin: 20px;

}

#title{

}

#citation{
    padding: 70px
}
